.mainWrapper{
    display:flex;
    flex-direction: column;
    min-width: 25rem;
    width:30%;
    background-color: #65a4b8;
    padding: 2.5rem;
    border: 4px solid white;
    border-radius: 1rem;
}

.mainWrapper h1{
    text-align: center;
}

.infoWrapper{
    padding: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.infoWrapper span{
    font-size: 1.2rem;
}

.infoTemp{
    font-size: 4rem !important;
}


.descWrapper {
    width: 100%;
    border-radius: 0.5rem;
    background-color: #f5b464;
    border: 4px solid #fca438;
    display:flex;
    flex-direction: column;
}

.descWrapper p {
    padding: 0.5rem;
}
